<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand">OZ Tracker</a>
    <div class="d-flex">
      <%= link_to 'Добавить товары', root_path, class: "btn btn-outline-primary me-2" %>
      <%= link_to 'Все товары', products_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</nav>
